.mat-card-title{
  font-size: 16px;
}
.mat-form-field{
  display: unset !important;
}

.mat-card>.mat-card-actions{
  padding-bottom: 15% !important;
}
.submit{
  position: absolute;
  right: 19px;
}
.example-card {
  width: 300px;
  margin: 10% auto;
}